
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif, Tahoma, Verdana;
    list-style: none;
    text-decoration: none;
}

.music-botton {
    font-size: 35px;
    color: white;
    position:absolute;
    left: 3%;
    animation-name: girar;
    animation-duration: 4s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
    display: inline-block;
    transition: transform 0.5s;
}

.rotate {
    animation: rotation 2s infinite linear;
}

@keyframes girar{

    from{
        transform: rotate(360deg);
    }
    to{

        transform: rotate(0deg);

    }
}

header {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px 9%;
    background: transparent;
}

.logo{
    font-size: 30px;
    font-weight: 700;
    color: white;
}

.navlist{
    display: flex;
}
.navlist a{
    color: white;
    margin-left: 60px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
}
.navlist a:hover{
    border-bottom: 2px solid white;
}
#menu-icon{
    color: white;
    font-size: 30px;
    z-index: 1001;
    cursor: pointer;
    display: none;
}
.hero{
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(245.59deg, #da5213 0%, #cf561e 28.53%, #e48347 75.92%);
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

section{
    padding:10% 5%;
}
.hero-text h5 {
    font-size: 14px;
    font-weight: 400;
    color: white;
    margin-bottom: 40px;
}

.hero-text h1{
    font-family: "Josefin Sans", sans-serif;
    font-size: 90px;
    line-height: 1;
    color: white;
    margin: 0 0 45px;
}
.hero-text h4{
    font-size: 18px;
    font-weight: 600;
    color: white;
    margin-bottom: 10px;
}
.hero-text p{
    color: white;
    font-size: 15px;
    line-height: 1.9;
    margin-bottom: 15px;
}

.slider-box img{
    width: 700px;
    height: 500px;
}

.slider-box {
    overflow: hidden;
}

.slider-box ul{
    display: flex;
    padding: 0;
    width: 500%;
    animation: slide 20s infinite alternate ease-in-out;
}

.slider-box li{
    width: 200%;
    list-style: none;
}

.slider-box img{
    width: 100%;
    border-radius: 5%;
}

@keyframes slide{
    0% {margin-left: 0;}
    20% {margin-left: 0;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}


.hero-text a{
    display: inline-block;
    color: white;
    background: #ce5219;
    border: 1px solid transparent;
    padding: 12px 30px;
    line-height: 1.4;
    font-size: 14px;
    font-weight: 500;
    border-radius: 30px;
    text-transform: uppercase;
    transition: all .55s ease;
}

.hero-text a:hover{
    background: transparent;
    border: 1px solid white;
    transform: translate(8px);
}

.hero-text a.ctaa i{
    background: transparent;
    margin-left: 3px;
    margin-right: 3px;
}

.hero-text a.ctaa{
    vertical-align: middle;
    margin-right: 3px;
}

.scroll-down{
    position: absolute;
    bottom: 6%;
    right: 9%;
}

.scroll-down{
    display: block;
    padding: 12px;
    font-size: 25px;
    color: white;
    background: #e85a0d;
    border-radius: 30px;
    transition: all .50s ease;
}

.scroll-dowm i:hover {
    transform: translateY(-5px);
}

@media (max-width: 1535px){
    header{
        padding: 15px 3%;
        transition: .2s;
        }
        
    .scroll-dowm{
        right: 3%;
        transition: .2s;
    }
}

@media (max-width: 1460px){
    section{
        padding: 0 12%;
        transition: .2s;
    }
}

@media (max-width: 1340px){
    .slider-box img{
        width: 100px;
        height: auto;
    }
    .hero-text h1{
        font-size: 75px;
        margin: 0 0 30px;
    }
    .hero-text h5{
        margin-bottom: 25px;
    }
}

@media (max-width: 1195px){
    section{
        padding: 0 3%;
        transition: .2s;
    }
    .hero-text{
        padding-top: 115px;
    }
    .slider-box{
        text-align: center;
    }
    .slider-box img{
        width: 560px;
        height: auto;
    }
    .hero{
        height: 100%;
        gap: 1rem;
        grid-template-columns: 1fr;
    }
    .scroll-dow{
        display: none;
    }
}

@media (max-width: 990px){
    #menu-icon{
        
        display: block;
    }
    .navlist{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 300px;
        height: 40vh;
        background: #c75622;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 50px 20px;
        transition: all .55s ease;
    }
    .navlist a{
        display: block;
        margin: 7px 0;
        margin-left: 0;
    }
    .navlist.open{
        right: 0;
    }
}
@media (max-width: 680px){
    .slider-box img{
        width: 100%;
        height: auto;
    }
}

.comentarios h3{
    font-size: 27px;
    color: #cf561e;
}

hr {
    border: 10px solid;
    color:#ce5219;
}

header {            
    background-color: rgb(192, 75, 17);
}
